<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.atguigu"/>
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* com..impl.*.*(..))"/>
        <aop:pointcut id="mypc" expression="execution(* com..impl.*.*(..))"/>

        <aop:aspect ref="txAdvice" order="5">
            <aop:before method="begin" pointcut-ref="pc"/>
            <aop:after-returning method="commit" pointcut="execution(* com..impl.*.*(..))" returning="result"/>
            <aop:after-throwing method="rollback" pointcut-ref="pc" throwing="t"/>
        </aop:aspect>
    </aop:config>

</beans>